networks:
  isrNet:
    driver: bridge
    name: isrNet
    enable_ipv6: true
    ipam:
      config:
        - subnet: fde4:492a:fc7d::/48

volumes:
  i2pd_data:

include:
  - networks.yml
  - i2p/i2p.yml

services:
  host-statistics:
    extends:
      file: ../../services/node_exporter/compose.yml
      service: statistics

  yggdrasil:
    extends:
      file: ../../services/yggdrasil/compose.yml
      service: yggdrasil
    network_mode: "host"

  mycelium:
    extends:
      file: ../../services/mycelium/compose.yml
      service: mycelium
    container_name: mycelium
    network_mode: "host"

