
{
	http_port "80"

	log default {
			output stdout
			level DEBUG
	}
}


:80 {
	# Sets the root of where we look
	# for files (with relative paths)
	# root * /webroot

	# Serve directories in root
	# handle * {
		# file_server
	# }
	
	# If we hit `/files`
	# then server root/files`
	# with a file browser
	# handle /files* {
		# file_server browse
	# }

	# Builder
	handle * {
		# uri strip_prefix /builder
		reverse_proxy https://git.redxen.eu/deavmi/zones/raw/branch/master/deavmi.zone
	}

	# Gitea service
	# handle /git* {
		# reverse_proxy services.deavmi.assigned.network
	# }
}
