
{
	http_port "80"
	https_port "443"

	log default {
			output stdout
			level DEBUG
	}

	# Enable metrics on admin server at /metrics
	metrics /metrics

	admin [::]:2019
}


# Domain name for automatic SSL
# :80, :443 {
services.deavmi.assigned.network:80, services.deavmi.assigned.network:443 {
	respond "Hello there"
	
	# Gitea service
	handle /git* {
		uri strip_prefix /git # Straight from https://docs.gitea.com/next/administration/reverse-proxies#caddy-with-a-sub-path
		reverse_proxy gitea:3000
	}

	# Miio web console (currently just for Gitea)
	handle /minio* {
		uri strip_prefix /minio
		reverse_proxy minio-gitea:9001
	}
}
