networks:
  mainNet:
    driver: bridge
    name: mainNet
    enable_ipv6: true
    ipam:
      config:
        - subnet: fde4:492a:fc7f::/48

volumes:
  i2pd_data:

include:
  - networks.yml

  - minio.yml

  - git.yml
  - irc.yml
  - im.yml
  - i2p.yml

services:
  host-statistics:
    extends:
      file: ../../services/node_exporter/compose.yml
      service: statistics

  yggdrasil:
    extends:
      file: ../../services/yggdrasil/compose.yml
      service: yggdrasil
    network_mode: "host"

  web:
    container_name: web
    build:
      context: web/
    depends_on:
      # - gitea
      - webirc
    networks:
      - mainNet
    environment:
      - "DOMAIN=${CADDY_DOMAIN}"
    ports:
      - "[::]:80:80/tcp"
      - "[::]:80:80/udp" # TODO: Does quick run on non-HTTPS?
      - "[::]:443:443/tcp"
      - "[::]:443:443/udp"
