
{
	http_port "80"
	https_port "443"

	log default {
			output stdout
			level DEBUG
	}

  # Don't tell HTTP clients to upgrade to HTTPS
  auto_https disable_redirects
}


# Domain name for automatic SSL
:80, {$DOMAIN}:443 {
	# respond "Hello there"

	# Handle metrics
	handle /metrics {
	    metrics
	}

	# Forgejo service
	handle /* {
		# uri strip_prefix /git # Straight from https://docs.gitea.com/next/administration/reverse-proxies#caddy-with-a-sub-path
		reverse_proxy gitea_old:3000
	}
}
