services:
  ircd:
    # Using the GitHub image
    image: ghcr.io/deavmi/unrealircd-docker:master
    container_name: ircd
    restart: unless-stopped
    user: ${USER_UID}:${USER_GID}
    volumes:
      # Path to configuration directory
      - "${IRCD_CONFIG_DIR}:/home/unreal/ircd/conf/:z"
      
      # Makes timezone and time information available
      # - /etc/timezone:/etc/timezone:ro
      # - /etc/localtime:/etc/localtime:ro
    ports:
      # Insecure port
      - "6667:6667/tcp"

      # Secure port
      - "6697:6697/tcp"

      # Server-to-server peering port
      - "6900:6900/tcp"
