services:
  ircd:
    # build:
      # context: ../../images/ircd/
      # args:
        # Change these to the value of `id -u`
        # on your HOST
        # - USER_UID=${USER_UID}
        
        # Change these to the value of `id -g`
        # on your HOST
        # - USER_GID=${USER_GID}
        
        # Branch to use
        # - BRANCH=unreal60_dev
        
        # Commit hash to checkout
        # - COMMIT=30b9f66f716e69e0734620c9b356d66443de0d4d
    # Using the GitHub image
    image: ghcr.io/deavmi/unrealircd-docker:master
    container_name: ircd
    restart: unless-stopped
    user: ${USER_UID}:${USER_GID}
    volumes:
      # Path to configuration directory
      - "${IRCD_CONFIG_DIR}:/home/unreal/ircd/conf/:z"
      
      # Makes timezone and time information available
      # - /etc/timezone:/etc/timezone:ro
      # - /etc/localtime:/etc/localtime:ro
    ports:
      # Insecure port
      - "6667:6667/tcp"

      # Secure port
      - "6697:6697/tcp"

      # Server-to-server peering port
      - "6900:6900/tcp"
