
{
	http_port "80"
	https_port "443"

	log default {
			output stdout
			level DEBUG
	}

	# Don't tell HTTP clients to upgrade to HTTPS
	auto_https disable_redirects
}


# Domain name for automatic SSL
:80, {$DOMAIN}:443 {

	# Handle metrics
	handle /metrics {
	    metrics
	}

	# Sets the root of where we look
	# for files (with relative paths)
	root * /webroot

	# Serve directories in root
	handle * {
		file_server
	}
	
	# If we hit `/files`
	# then server root/files`
	# with a file browser
	handle /files* {
		file_server browse
	}

	# Gitea service
	handle /git* {
		reverse_proxy services.deavmi.assigned.network
	}
}
