{
	http_port "80"
	https_port "443"

	log default {
			output stdout
			level DEBUG
	}

	# Don't tell HTTP clients to upgrade to HTTPS
	auto_https disable_redirects
}

# Domain name for automatic SSL
:80, {$DOMAIN}:443 {

  # Handle metrics
	handle /metrics {
	    metrics
	}

	route /files* {
		respond "crinpoesge"
	}

	# Grafana web interface
	handle /grafana* {
		reverse_proxy grafana:3000
	}	

	# Prometheus web interface
	handle /prometheus* {
		reverse_proxy prometheus:9090
	}
}
