{
    "webhook" : {
        "listen" : {
            "addresses": ["::"],
            "port": 6969
        }
    },
    "irc" : {
        "host": "pinewood.irc.bnet.eu.org",
        "port": 6667,
        "nickname": "tlangbot",
        "realname": "TLang Development Bot",
        "channels" : {
		"tlang" : "#tlang",
		"birchwood" : "#birchwood",
		"libsnooze" : "#dsource",
		"gitea-irc-bot" : "#dsource",
		"jstruct" : "#dsource",
		"guillotine" : "#dsource",
		"botty" : "#dsource",
		"river" : "#dsource",
		"libpb" : "#dsource",
		"gogga" : "#dsource",
		"loadshedd" : "#dsource",
		"renaissance" : "#dsource",
		"dante" : "#dsource",
		"davinci" : "#dsource",
		"eventy" : "#dsource",
		"dlog" : "#dsource",
		"libtun" : "#dsource",
		"homepage" : "#dsource",
		"bformat": "#dsource",
		"doap" : "#dsource",
		"niknaks" : "#dsource",
		"qix" : "#dsource",
		"docker" : "#networking",
		"bcm2835-d" : "#dsource",


		"yggdrasil-go" : "#yggdrasil"
	}
    }
}
