{
	http_port "80"

	log default {
			output stdout
			level INFO
	}

	metrics {
		per_host
	}
}

# Domain name for automatic SSL
:80 {

  # Handle metrics
	handle /metrics {
	    metrics
	}

	# Grafana web interface
	handle /grafana* {
		reverse_proxy monitor.deavmi.assigned.network
	}	

	# Prometheus web interface
	handle /prometheus* {
		reverse_proxy monitor.deavmi.assigned.network
	}
}
